{{- if (env "CZ_EXT") }}

[".config/mozilla/firefox/personal.default/chrome/includes"]
type = "archive"
url = "https://github.com/cascadefox/cascade/archive/main.tar.gz"
exact = true
stripComponents = 3
refreshPeriod = "336h"
include = ["*/chrome/includes/**", "*/integrations/gruvbox/**"]

{{- end }}
