{{- if (env "CZ_EXT") }}

[".config/fish/functions/extract.fish"]
type = "file"
url = "https://raw.githubusercontent.com/oh-my-fish/plugin-extract/refs/heads/master/functions/extract.fish"
refreshPeriod = "336h"

[".config/fish/completions/gopass.fish"]
type = "file"
url = "https://raw.githubusercontent.com/gopasspw/gopass/refs/heads/master/fish.completion"
refreshPeriod = "336h"

{{- end }}
