{{- if (env "CZ_EXT") }}

[".local/share/icons/Gruvbox-Material-Dark"]
type = "archive"
url = "https://github.com/TheGreatMcPain/gruvbox-material-gtk/archive/master.tar.gz"
include = ["*/icons/Gruvbox-Material-Dark/**"]
refreshPeriod = "336h"
stripComponents = 3

{{- end }}
