{{- if (env "CZ_EXT") }}

[".config/Kvantum/Gruvbox_Light_Green"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "sachnr/gruvbox-kvantum-themes" "Gruvbox_Light_Green.tar.gz" | quote }}
refreshPeriod = "336h"
stripComponents = 3

[".config/Kvantum/Gruvbox-Dark-Green"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "sachnr/gruvbox-kvantum-themes" "Gruvbox-Dark-Green.tar.gz" | quote }}
refreshPeriod = "336h"
stripComponents = 3

[".config/Kvantum/Nordic-Darker"]
type = "archive"
url = "https://github.com/EliverLara/Nordic/archive/master.tar.gz"
include = ["*/kde/kvantum/Nordic-Darker/**"]
refreshPeriod = "336h"
stripComponents = 4

[".config/Kvantum/Nordic-Darker-Solid"]
type = "archive"
url = "https://github.com/EliverLara/Nordic/archive/master.tar.gz"
include = ["*/kde/kvantum/Nordic-Darker-Solid/**"]
refreshPeriod = "336h"
stripComponents = 4

{{- end }}
