{{- if (env "CZ_EXT") }}

[".config/Kvantum/Gruvbox_Light_Green"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "sachnr/gruvbox-kvantum-themes" "Gruvbox_Light_Green.tar.gz" | quote }}
refreshPeriod = "336h"
stripComponents = 3

[".config/Kvantum/Gruvbox-Dark-Green"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "sachnr/gruvbox-kvantum-themes" "Gruvbox-Dark-Green.tar.gz" | quote }}
refreshPeriod = "336h"
stripComponents = 3

{{- end }}
