{{- if (env "CZ_EXT") }}

[".local/bin/0x0"]
type = "file"
url = "https://raw.githubusercontent.com/Calinou/0x0/refs/heads/master/bin/0x0"
refreshPeriod = "336h"
executable = true

[".local/bin/fzf-preview.sh"]
type = "file"
url = "https://raw.githubusercontent.com/junegunn/fzf/refs/heads/master/bin/fzf-preview.sh"
refreshPeriod = "336h"
executable = true

{{- end }}
