{{- if (env "CZ_EXT") }}

[".local/share/applications/zaread.desktop"]
type = "file"
url = "https://raw.githubusercontent.com/paoloap/zaread/refs/heads/master/zaread.desktop"
refreshPeriod = "336h"

{{- end }}
