{{- if (env "CZ_EXT") }}

# Official plugins

{{- $yazi_plugins_base := "https://github.com/yazi-rs/plugins/archive/master.tar.gz" }}
{{- $yazi_plugins_list := list
    "toggle-pane.yazi"
    "zoom.yazi"
    "vcs-files.yazi"
    "types.yazi"
    "chmod.yazi"
    "diff.yazi"
    "full-border.yazi"
    "git.yazi"
    "mount.yazi"
    "smart-enter.yazi"
    "smart-paste.yazi"
    "smart-filter.yazi"
}}

{{- range $plugin := $yazi_plugins_list }}
[".config/yazi/plugins/{{ $plugin }}"]
type = "archive"
url = {{ $yazi_plugins_base | quote }}
exact = true
stripComponents = 2
refreshPeriod = "336h"
include = ["*/{{ $plugin }}/**"]
{{- end }}

# Community plugins

{{- $yatline_base := "https://github.com/imsi32" }}

[".config/yazi/plugins/yatline.yazi"]
type = "archive"
url = "{{ $yatline_base }}/yatline.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/yatline-gruvbox.yazi"]
type = "archive"
url = "{{ $yatline_base }}/yatline-gruvbox.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/lazygit.yazi"]
type = "archive"
url = "https://github.com/Lil-Dank/lazygit.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/epub-preview.yazi"]
type = "archive"
url = "https://github.com/kirasok/epub-preview.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/office.yazi"]
type = "archive"
url = "https://github.com/macydnah/office.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/exifaudio.yazi"]
type = "archive"
url = "https://github.com/Sonico98/exifaudio.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/restore.yazi"]
type = "archive"
url = "https://github.com/boydaihungst/restore.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/recycle-bin.yazi"]
type = "archive"
url = "https://github.com/uhs-robert/recycle-bin.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/githead.yazi"]
type = "archive"
url = "https://github.com/llanosrocas/githead.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/what-size.yazi"]
type = "archive"
url = "https://github.com/pirafrank/what-size.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/compress.yazi"]
type = "archive"
url = "https://github.com/KKV9/compress.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/easyjump.yazi"]
type = "archive"
url = "https://github.com/DreamMaoMao/yazi-config/archive/master.tar.gz"
exact = true
stripComponents = 3
refreshPeriod = "336h"
include = ["*/plugins/easyjump.yazi/**"]

[".config/yazi/plugins/thumbnail.yazi"]
type = "archive"
url = "https://github.com/tasnimAlam/thumbnail.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/save-clipboard-to-file.yazi"]
type = "archive"
url = "https://github.com/boydaihungst/save-clipboard-to-file.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

[".config/yazi/plugins/djvu-view.yazi"]
type = "archive"
url = "https://github.com/Shallow-Seek/djvu-view.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

# Flavors

[".config/yazi/flavors/gruvbox-dark.yazi"]
type = "archive"
url = "https://github.com/bennyyip/gruvbox-dark.yazi/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "336h"

{{- end }}
