{{- if (env "CZ_EXT") }}

# PO Token provider for YouTube
# Additional info: https://github.com/yt-dlp/yt-dlp/wiki/PO-Token-Guide

{{- $bgutil_url := "https://github.com/Brainicism/bgutil-ytdlp-pot-provider/archive/master.tar.gz" }}

[".config/yt-dlp-plugins/bgutil-ytdlp-pot-provider"]
type = "archive"
url = {{ $bgutil_url | quote }}
exact = true
stripComponents = 2
refreshPeriod = "336h"
include = ["*/plugin/yt_dlp_plugins/**"]

["Tools/bgutil-ytdlp-pot-provider"]
type = "archive"
url = {{ $bgutil_url | quote }}
exact = true
stripComponents = 2
refreshPeriod = "336h"
include = [
  "*/server/src/**",
  "*/server/types/**",
  "*/server/package.json",
  "*/server/package-lock.json",
  "*/server/tsconfig.json",
  "*/server/yarn.lock",
]

# Yandex.Translate for videos based on voice-over-translation (vot) and vot-cli

[".config/yt-dlp-plugins/YandexTranslate/yt_dlp_plugins"]
type = "archive"
url = "https://github.com/gnfalex/YT_yt_dlp_plugin/archive/master.tar.gz"
exact = true
stripComponents = 2
refreshPeriod = "336h"
include = [
  "*/yt_dlp_plugins/extractor/**",
  "*/yt_dlp_plugins/postprocessor/**",
  "*/yt_dlp_plugins/yandex.protoc",
]

{{- end }}
