[Unit]
Description=JDSP4Linux
PartOf=graphical-session.target
After=graphical-session.target pipewire.service
BindsTo=pipewire.service

[Service]
ExecStart=/usr/bin/jamesdsp --tray
TimeoutStopSec=5sec
Restart=on-failure
RestartSec=1s
Slice=app-graphical.slice

[Install]
WantedBy=pipewire.service
