[Unit]
Description=JDSP4Linux 
After=graphical-session.target

[Service]
; ExecStartPre=/usr/bin/sleep 2
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/bin/jamesdsp --tray
TimeoutStopSec=5sec
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
