[Unit]
Description=Jellyfin Client (mpv-shim)
After=graphical-sesson.target

[Service]
ExecStartPre=/usr/bin/sleep 3
ExecStart=/usr/bin/jellyfin-mpv-shim
ExecStop=/bin/kill -s SIGINT $MAINPID
Restart=on-failure

[Install]
WantedBy=default.target
