[Unit]
Description=SSH key agent
Documentation=man:ssh-agent(1)
After=graphical.target

[Service]
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
