[Unit]
Description=Udiskie daemon
After=graphical-session.target

[Service]
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/udiskie --smart-tray
Restart=always

[Install]
WantedBy=graphical-session.target
