[Unit]
Description=Waybar autohide script
After=waybar.service

[Service]
ExecStartPre=/usr/bin/sleep 2
ExecStart=%h/.config/hypr/scripts/waybar_autohide.sh
Restart=on-failure

[Install]
WantedBy=default.target
