@import "themes/gruvbox-dark.css";

/* =============================================
   Global settings
   ============================================= */

/* This options also overrides some GTK's defaults from system theme */

* {
	font-family: monospace;
	font-size: 13px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* Waybar window */
window#waybar {
	background-color: @regular0;
	color: @bright7;
	transition-property: background-color;
	transition-duration: 0.5s;
}

/* Buttons (generic) */
button {
	/* Avoid rounded borders under each button name */
	border-radius: 0;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

/* Tooltips */
tooltip {
	color: @bright7;
	background-color: @regular0;
	border: solid 2px @bright0;
	border-radius: 0;
}

/* =============================================
   Modules
   ============================================= */

/* Module areas */
.modules-left,
.modules-right {
	padding: 0 5px;
}

/* Options for label-based modules */
label.module {
	padding: 0 5px;
}

/* Workspaces */
#workspaces {
	margin: 0 4px;
}

#workspaces button {
	padding: 0 5px;
	color: @bright7;
}

#workspaces button:not(.empty) {
	color: @bright4;
}

#workspaces button.active {
	color: @bright2;
	background-color: rgba(0, 0, 0, 0.1);
}

#workspaces button.urgent {
	color: @bright3;
}

#workspaces button:hover {
	box-shadow: inset 0 -2px @bright7;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

/* System Tray */
#tray {
	padding: 0 5px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

/* Clock */
.calendar-today {
	color: @bright3;
}

.calendar-days {
	color: @fg0;
}

.calendar-weeks {
	color: @bright4;
}

.calendar-weekdays {
	color: @bright5;
}

.calendar-months {
	color: @bright2;
}

/* Session  */
.session-collapsible-children > * {
	padding: 0 4px;
	transition: background-color 0.2s ease;
}

#custom-session-icon {
	color: @bright2;
}

#custom-session-lock {
	color: @bright4;
}

#custom-session-logout {
	color: @bright6;
}

#custom-session-reboot {
	color: @bright3;
}

#custom-session-shutdown {
	color: @bright1;
}

.session-collapsible-children > *:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
