{{- if (env "CZ_EXT") }}

[".config/fish/functions/extract.fish"]
type = "file"
url = "https://raw.githubusercontent.com/oh-my-fish/plugin-extract/refs/heads/master/functions/extract.fish"
refreshPeriod = "336h"

[".config/fish/completions/gopass.fish"]
type = "file"
url = "https://raw.githubusercontent.com/gopasspw/gopass/refs/heads/master/fish.completion"
refreshPeriod = "336h"

[".config/fish/completions/uwsm.fish"]
type = "file"
url = "https://gist.githubusercontent.com/dafitt/4aec26d1107c1a9b1d9812d9eb6dc9b2/raw/6f81538b1cb818e9dce34fc9f637b0d752f3abc5/uwsm.fish"
refreshPeriod = "336h"

{{- end }}
