# Requirements:
# - python-adblock
# - python-pyperclip (qute-code-hint)
# - python-protobuf
# - python-tldextract (qute-pass)

import os

# pylint: disable=C0111
c = c  # noqa: F821 pylint: disable=E0602,C0103
config = config  # noqa: F821 pylint: disable=E0602,C0103G

# pylint: disable=C0111
from qutebrowser.config.config import ConfigContainer  # noqa: E402, F401
from qutebrowser.config.configfiles import ConfigAPI  # noqa: E402, F401

config: ConfigAPI = config  # noqa: F821 pylint: disable=E0602,C0103
c: ConfigContainer = c  # noqa: F821 pylint: disable=E0602,C0103

# Fix 'TrustedHTML' error
c.content.javascript.log_message.excludes = {
    "userscript:_qute_stylesheet": [
        "*Refused to apply inline style because it violates the following Content Security Policy directive: *"
    ],
    "userscript:_qute_js": ["*TrustedHTML*"],
}

###############################################################################
# Variables and constants
###############################################################################

instance_4get = "search.yonderly.org"
instance_searxng = "eu.priv.au"
instance_mozhi = "mozhi.pussthecat.org"

DMENU = os.environ.get("DMENU")

###############################################################################
# General settings
###############################################################################

config.load_autoconfig(True)

c.editor.command = [
    "xdg-terminal-exec",
    "nvim",
    "{file}",
    "-c",
    "normal {line}G{column0}l",
]
c.spellcheck.languages = ["en-US", "ru-RU"]

c.url.default_page = "https://start.duckduckgo.com/"
c.url.start_pages = "https://start.duckduckgo.com/"
c.url.searchengines = {
    "DEFAULT": "duckduckgo.com/?q={}",
    "4get": f"{instance_4get}/web?country=ru&nsfw=yes&s={{"{{}}"}}",
    "searxng": f"{instance_searxng}/?q={{"{{}}"}}",
    "ddg": "duckduckgo.com/?q={}",
    "paywall": "12ft.io/proxy?q={}",
    "alist": "anilist.co/search/anime?hide my anime=true&search={}",
    "ahlist": "anilist.co/search/anime?hide my anime=true&adult=true&search={}",
    "mlist": "anilist.co/search/manga?hide my manga=true&search={}",
    "mhlist": "anilist.co/search/manga?hide my manga=true&adult=true&search={}",
    "zerochan": "www.zerochan.net/{}",
    "melpa": "melpa.org/#/?q={}",
    "toys": "toys.whereis.social/?search={}",
    "aur": "aur.archlinux.org/packages?&K={}",
    "aw": "wiki.archlinux.org/index.php?search={}",
    "translate": "translate.google.com/?text={}",
    "mozhi": f"{instance_mozhi}/?engine=yandex&from=auto&to=ru&text={{"{{}}"}}",
    "source": "https://sourcegraph.com/search?q=context:global+{}",
    "gh": "github.com/search?q={}",
    "codeberg": "codeberg.org/explore/repos?only_show_relevant=true&sort=moststars&q={}",
    "maps": "www.google.com/maps?q={}",
    "reddit": "www.reddit.com/r/{}",
    "rutracker": "rutracker.org/forum/tracker.php?nm={}",
    "yt": "www.youtube.com/results?search_query={}",
    "kino": "www.kinopoisk.ru/index.php?kp_query={}",
    "alter": "alternativeto.net/browse/search/?q={}",
    "pdb": "www.protondb.com/search?q={}",
}

c.completion.web_history.exclude = [
{{ gopass "personal/qutebrowser/web_exclude" }}
]

c.fileselect.handler = "external"

yazi_chooser = [
    "xdg-terminal-exec",
    "--",
    "--title",
    "footclient-center-half-float-yazi",
    "yazi",
    "--chooser-file",
    "{}",
]

c.fileselect.single_file.command = yazi_chooser
c.fileselect.multiple_files.command = yazi_chooser
c.fileselect.folder.command = yazi_chooser

# Langmap
config.unbind(".")
en_keys = "qwertyuiop[]asdfghjkl;'zxcvbnm,./" + 'QWERTYUIOP{}ASDFGHJKL:"ZXCVBNM<>?'
ru_keys = "йцукенгшщзхъфывапролджэячсмитьбю." + "ЙЦУКЕНГШЩЗХЪФЫВАПРОЛДЖЭЯЧСМИТЬБЮ,"
c.bindings.key_mappings.update(dict(zip(ru_keys, en_keys)))

###############################################################################
# Content settings
###############################################################################

config.set("content.cookies.accept", "all", "chrome-devtools://*")
config.set("content.cookies.accept", "all", "devtools://*")

config.set("content.headers.accept_language", "", "https://matchmaker.krunker.io/*")
config.set(
    "content.headers.user_agent",
    "Mozilla/5.0 ({os_info}) AppleWebKit/{webkit_version} (KHTML, like Gecko) {upstream_browser_key}/{upstream_browser_version} Safari/{webkit_version}",
    "https://web.whatsapp.com/",
)
config.set(
    "content.headers.user_agent",
    "Mozilla/5.0 ({os_info}; rv:133.0) Gecko/20100101 Firefox/133.0",
    "https://accounts.google.com/*",
)

config.set("content.images", True, "chrome-devtools://*")
config.set("content.images", True, "devtools://*")

config.set("content.javascript.enabled", True, "chrome-devtools://*")
config.set("content.javascript.enabled", True, "devtools://*")
config.set("content.javascript.enabled", True, "chrome://*/*")
config.set("content.javascript.enabled", True, "qute://*/*")

config.set(
    "content.local_content_can_access_remote_urls",
    True,
    "file:///home/frestein/.local/share/qutebrowser/userscripts/*",
)
config.set(
    "content.local_content_can_access_file_urls",
    False,
    "file:///home/frestein/.local/share/qutebrowser/userscripts/*",
)

################################################################################
# Advertising blocking
################################################################################

c.content.blocking.method = "adblock"
c.content.blocking.hosts.lists = []
c.content.blocking.adblock.lists = [
    "https://easylist-downloads.adblockplus.org/abp-filters-anti-cv.txt",
    "https://easylist-downloads.adblockplus.org/antiadblockfilters.txt",
    "https://easylist-downloads.adblockplus.org/bitblock.txt",
    "https://easylist-downloads.adblockplus.org/cntblock.txt",
    "https://easylist-downloads.adblockplus.org/ruadlist.txt",
    "https://easylist-msie.adblockplus.org/abp-filters-anti-cv.txt",
    "https://easylist-msie.adblockplus.org/antiadblockfilters.txt",
    "https://easylist.to/easylist/easylist.txt",
    "https://easylist.to/easylist/easyprivacy.txt",
    "https://easylist.to/easylist/fanboy-social.txt",
    "https://github.com/easylist/easylist/raw/refs/heads/master/easylist/easylist_adservers.txt",
    "https://github.com/easylist/easylist/raw/refs/heads/master/easylist/easylist_adservers_popup.txt",
    "https://github.com/easylist/easylist/raw/refs/heads/master/easylist/easylist_general_block.txt",
    "https://github.com/easylist/easylist/raw/refs/heads/master/easylist/easylist_general_block_popup.txt",
    "https://github.com/easylist/easylist/raw/refs/heads/master/easylist/easylist_thirdparty.txt",
    "https://github.com/easylist/easylist/raw/refs/heads/master/easylist/easylist_thirdparty_popup.txt",
    "https://github.com/uBlockOrigin/uAssets/raw/master/filters/filters.txt",
    "https://github.com/uBlockOrigin/uAssets/raw/master/filters/privacy.txt",
    "https://raw.github.com/reek/anti-adblock-killer/master/anti-adblock-killer-filters.txt",
    "https://raw.githubusercontent.com/LanikSJ/ubo-filters/main/filters/combined-filters.txt",
    "https://raw.githubusercontent.com/easylist/ruadlist/refs/heads/master/advblock.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/annoyances-cookies.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/annoyances-others.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/badlists.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/filters-2020.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/filters-2021.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/filters-2022.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/filters-2023.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/filters-2024.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/filters-2025.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/filters.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/quick-fixes.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/resource-abuse.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/ubo-link-shorteners.txt",
    "https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/ubol-filters.txt",
    "https://secure.fanboy.co.nz/fanboy-annoyance.txt",
    "https://secure.fanboy.co.nz/fanboy-cookiemonster.txt",
    "https://www.i-dont-care-about-cookies.eu/abp/",
]

################################################################################
# UI settings
################################################################################

config.source("gruvbox.py")
c.tabs.background = True
c.completion.shrink = True
c.scrolling.smooth = True
c.downloads.position = "bottom"

c.hints.radius = 0
c.hints.selectors["code"] = [
    # Selects all code tags whose direct parent is not a pre tag
    ":not(pre) > code",
    "pre",
]

c.fonts.hints = "bold 12px Monospace"

################################################################################
# Other settings
################################################################################

c.window.title_format = "{perc}{current_title}{title_sep}qutebrowser"
c.new_instance_open_target = "tab"
c.content.autoplay = False
c.content.fullscreen.overlay_timeout = 0
c.downloads.location.prompt = False
c.auto_save.session = True
c.session.lazy_restore = True
c.completion.cmd_history_max_items = 10000
c.qt.args = [
    "enable-accelerated-video",
    "enable-native-gpu-memory-buffers",
    "enable-oop-rasterization",
    "enable-quic",
    # "enable-unsafe-webgpu",
    # "enable-vulkan",
    "enable-zero-copy",
    "font-cache-shared-handle",
    "ignore-gpu-blocklist",
    "num-raster-threads=4",
    "enable-features=VaapiIgnoreDriverChecks,AcceleratedVideoDecodeLinuxGL,AcceleratedVideoEncoder",
    # TEST: AcceleratedVideoDecodeLinuxZeroCopyGL
]
c.qt.workarounds.disable_accelerated_2d_canvas = "never"

################################################################################
# Aliases
################################################################################

gopass = f"spawn -u qute-pass -d '{DMENU}' -M gopass"

c.aliases = config.get("aliases", {})
c.aliases.update(
    {
        "kinopoisk-to-cx": 'jseval window.location.href = window.location.href.replace("kinopoisk.ru", "kinopoisk.cx");',
        "git-clone": 'spawn xdg-open "git+{url}"',
        "qr": "spawn -u qr",
        "buku-dmenu": "spawn -u qute-buku dmenu",
        "translate": "spawn -u qute-translate-popup",
        "gopass-login": f"{gopass} --username-target secret --username-pattern 'login: (.+)'",
        "gopass-username": f"{gopass} --username-target secret --username-pattern 'login: (.+)' --username-only ",
        "gopass-password": f"{gopass} --password-only",
        "gopass-otp": f"{gopass} --otp-only",
    }
)

################################################################################
# Bindings
################################################################################

bind = config.bind
unbind = config.unbind

# Unbind defaults
unbind("<Alt-m>")
unbind(";i")
unbind(";I")

# Configuration management
bind("\\ce", "config-edit")
bind("\\rc", "config-source")
bind("\\ra", "adblock-update")
bind("\\rg", "greasemonkey-reload")

# Toggle
bind("tbh", "config-cycle -p -t -u *://{url:host}/* content.blocking.enabled true false ;; reload")
bind("tBh", "config-cycle -p -u *://{url:host}/* content.blocking.enabled true false ;; reload")
bind("tbH", "config-cycle -p -t -u *://*.{url:host}/* content.blocking.enabled true false ;; reload")
bind("tBH", "config-cycle -p -u *://*.{url:host}/* content.blocking.enabled true false ;; reload")
bind("tbu", "config-cycle -p -t -u {url} content.blocking.enabled true false ;; reload")
bind("tBu", "config-cycle -p -u {url} content.blocking.enabled true false ;; reload")
bind("tqt", "config-cycle tabs.show multiple switching")
bind("tqs", "config-cycle statusbar.show always in-mode")

# External editor
bind("<Alt-e>", "edit-text")
bind("<Alt-v>", "edit-text")
bind("<Alt-c>", "cmd-edit")
bind("<Alt-u>", "edit-url")
bind("<Alt-e>", "edit-text", mode="insert")
bind("<Alt-v>", "edit-text", mode="insert")

# Tabs
bind("gT", "cmd-set-text -s :tab-take")
bind("gG", "cmd-set-text -s :tab-give")
bind("gl", "tab-focus last")
bind("gp", "tab-pin")
bind("<Ctrl-m>", "tab-mute")

# Media
bind("\\m", "spawn umpv {url}")
bind(";m", "hint --rapid links spawn umpv {hint-url}")

# Navigation
bind("<Shift-Left>", "back")
bind("<Shift-Down>", "tab-prev")
bind("<Shift-Up>", "tab-next")
bind("<Shift-Right>", "forward")
bind("<Shift-h>", "back")
bind("<Shift-j>", "tab-prev")
bind("<Shift-k>", "tab-next")
bind("<Shift-l>", "forward")

# Command mode
bind("<Ctrl-p>", "completion-item-focus prev", mode="command")
bind("<Ctrl-n>", "completion-item-focus next", mode="command")
bind("<Ctrl-Up>", "command-history-prev", mode="command")
bind("<Ctrl-Down>", "command-history-next", mode="command")

# Bookmarks
bind("b", "buku-dmenu")

# Downloads
bind("gD", "spawn -u qute-downloads")

# Images
bind(";ii", "hint images")
bind(";iy", "hint images yank")
bind(";it", "hint images tab")
bind(";id", "hint images download")
bind(";iT", "hint --rapid images tab")
bind(";iD", "hint --rapid images download")

# RSS
bind("gF", "spawn -u openfeeds")

# Password management
bind("\\pl", "gopass-login")
bind("\\pu", "gopass-username")
bind("\\pp", "gopass-password")
bind("\\po", "gopass-otp")

# Tridactyl quickmarks
qsites = {
    "a": "anilist.co/user/Frestein",
    "l": "www.perplexity.ai",
    "L": "duck.ai",
    "s": instance_4get,
    "S": instance_searxng,
    "d": "start.duckduckgo.com",
    "g": "codeberg.org/Frestein",
    "G": "github.com/Frestein",
    "m": "app.tuta.com",
    "M": "mail.google.com",
    "t": f"{instance_mozhi}/?engine=yandex&from=auto&to=ru",
    "T": "translate.google.com",
    "c": "coub.com/community/anime",
    "y": "youtube.com",
}

for k, v in qsites.items():
    bind("gc" + k, "open " + v)
    bind("gn" + k, "open -t " + v)

# Kinopoisk
bind("\\k", "kinopoisk-to-cx")

# Git
bind("\\gc", "git-clone")

# Misc
bind("\\qr", "qr")
bind("tt", "translate")
bind("tt", "translate", mode="caret")
bind("cm", "clear-messages")
bind(";c", "hint code userscript qute-code-hint")
