[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=/usr/bin/kanata -p 10000
RestartSec=5

[Install]
WantedBy=default.target
