machine frestein login frestein port sudo password {{ gopass "personal/machine/frestein" }}
machine fosstodon.org login frestein password {{ gopass "api/social/fosstodon.org/frestein@tuta.io" }}
machine api.github.com login {{ .github_user }}^forge password {{ gopass "work/git/github.com/api/frestein@tuta.io/magit-forge" }}
